body {
    background-color: lightblue;
}

h1 {
	font-family: verdana;
    color: white;
    text-align: center;
}

p {
	text-align: center;
	text-align: justify;
    font-family: verdana;
    font-size: 20px;
}

table, th, td {
	font-family: helvetica;
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
    color: white;
}
table#t01 {
    width: 100%;    
    background-color: black;
}